<!DOCTYPE html>

<html>

<head>
    <title>QuizEnzigma</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand" style="color: #1e90ff ">Quiz</a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#" style="margin-left: 14px;">admin</a></li>
          </ul>
        </div>
      </div>

        <form class="form-inline my-2 my-lg-0">
            <div class="navbar-header">
                <a href="#" class="navbar-brand" style="color: #1e90ff ">Quiz Enzigma</a>
            </div>
        </form>
    </nav>

    <div class="row">
        <div class="col-md-6 offset-md-3" style="background-color: #fff;margin-top: 90px;padding:20px;">
            {{{body}}}
        </div>
    </div>

</body>

</html>